
@import url(http://fonts.googleapis.com/css?family=Chau+Philomene+One|Tenor+Sans);

body {
    background-color: #f8f8f8;
    padding-top: 70px;
    padding-bottom: 70px;
}

.container {
}

.navbar .brand {
    background: transparent url(../img/logo-small-w.png) 20px top no-repeat;
    text-indent: -999em;
    width: 229px;
    float: right;
}



.huge-logo {
    text-indent: -999em;
    max-width: 100%;
}

.main-banner .coletilla h3{
    line-height: 52px;
    text-align:center;
}
