---
layout: default
title: Animal Coders
---

<div id="home">

    <div class='row main-banner'>
        <div class='span8'>
            <img src='img/logo.png' class='huge-logo' alt='Animal Coders'>
        </div>
        <div class='span4 coletilla'>
            <h3>aprende</h3>
            <h3>disfruta</h3>
            <h3>comparte</h3>
        </div>
    </div>

    <div class='row'>
        <div class='span12'>
            <div class="page-header">
                <h1>
                    Posts
                    <small>
                        Lo ultimo del blog, vamos
                    </small>
                </h1>
            </div>
            <div class='row'>
                <div class='span8'>
                    {% for post in site.categories.post limit:1 offset:0 %}
                        {% assign huge = true %}
                        {% include post-briefing.html %}
                    {% endfor %}
                    {% assign huge = false %}
                </div>
                <div class='span4'>
                    {% for post in site.categories.post limit:4 offset:1 %}
                        <div>
                            {% include post-briefing.html %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% for i in (1..4) %}
                <div class='row'>
                    {% assign forOffset = 5 + (3*i) %}
                    {% for post in site.categories.post limit:3 offset:forOffset %}
                        <div class='span3'>
                            {% include post-briefing.html %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <p class='well'>
                To view more visit the <a href='/blog'>archive</a>
            </p>
        </div>
    </div>

</div>

