
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Animal Coders</a>
                <ul class="nav">
                    <li>
                        <a href='/'>Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href='/blog'>Blog</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href='/sessions'>Sesiones</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href='/about'>About</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="/feed.xml">
                            Subscribe to RSS!
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
