
{% assign headerOpen = false %}
<ul class="nav nav-list well">
    {% for link in page.links %}
        {% if link.header %}
            {% if headerOpen %}
                </ul>
                {% assign headerOpen = false %}
            {% endif %}

            <li class="nav-header">
                {% if link.icon %}
                    <i class='{{ link.icon }}'></i>
                {% endif %}
                {{ link.text }}
            </li>

                {% assign headerOpen = true %}
                <ul>
        {% else %}
                    <li>
                        <a href='{{ link.url }}'>
                            {% if link.icon %}
                                <i class='{{ link.icon }}'></i>
                            {% endif %}
                            {{ link.text }}
                        </a>
                    </li>
        {% endif %}
    {% endfor %}
    {% if headerOpen %}
                </ul>
    {% endif %}
</ul>

