
<div id="mc_embed_signup">
    <form action="http://animalcoders.us4.list-manage.com/subscribe/post?u=346fee807b93ece96c97c580f&amp;id=f3afa52e07" method="post" name="mc-embedded-subscribe-form" class="form-vertical" target="_blank">
        <fieldset>
            <legend>Suscribete!</legend>
            <div class="alert alert-info">
                <p><strong>*</strong> indica obligatorio</p>
            </div>
            <div>
            <div class="control-group">
                <label class="control-label" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <div class="controls">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mce-FNAME">Name  <span class="asterisk">*</span>
            </label>
                <div class="controls">
                    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mce-WEBSITE">Website </label>
                <div class="controls">
                    <input type="url" value="" name="WEBSITE" class=" url" id="mce-WEBSITE">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mce-TWITTERURL">Twitter </label>
                <div class="controls">
                    <input type="url" value="" name="TWITTERURL" class=" url" id="mce-TWITTERURL">
                    <p class="help-block">Twitter profile url</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mce-GITHUB">Github </label>
                <div class="controls">
                    <input type="url" value="" name="GITHUB" class=" url" id="mce-GITHUB">
                    <p class="help-block">Github profile url</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mce-EXTRA">Otras cosas </label>
                <div class="controls">
                    <input type="text" value="" name="EXTRA" class="" id="mce-EXTRA">
                    <p class="help-block">Cosas que nos quieras contar de ti</p>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" name="subscribe" >Suscribirse</button>
            </div>
        </fieldset>
            
    </form>
</div>
