---
layout: default
links:
  - text: Rellenando esta seccion!!
    icon: icon-heart
    url: /contribute/help-us-out.html
  - text: -------------------------
    header: true
  - text: Participando
    icon: icon-eye-open
    header: true
  - text: En la web [TODO]
    url: https://github.com/joakin/animalcoders/issues/3
  - text: En las sesiones [TODO]
    url: https://github.com/joakin/animalcoders/issues/4
  - text: Programando
    icon: icon-list-alt
    header: true
  - text: Reporta errores en la web [TODO]
    url: https://github.com/joakin/animalcoders/issues/5
  - text: Pica issues de la web [TODO]
    url: https://github.com/joakin/animalcoders/issues/7
  - text: Mandanos tus soluciones [TODO]
    url: https://github.com/joakin/animalcoders/issues/10
  - text: Ense&nacute;ando
    icon: icon-gift
    header: true
  - text: Propon y da sesiones [TODO]
    url: https://github.com/joakin/animalcoders/issues/9
  - text: Compartenos
    icon: icon-share
    header: true
  - text: Traete a gente [TODO]
    url: https://github.com/joakin/animalcoders/issues/11
  - text: Compartenos, enlazanos [TODO]
    url: https://github.com/joakin/animalcoders/issues/12
  - text: 
    header: true
  - text: Manuales
    icon: icon-info-sign
    header: true
  - text: Guia de creacion de issues [TODO]
    url: https://github.com/joakin/animalcoders/issues/6
  - text: Contribuyendo a la web - Github guide [TODO]
    url: https://github.com/joakin/animalcoders/issues/8
---

<div class='row'>
    <div class='span3'>
        <h2>Contribuye!</h2>
        <div>
            {% include links.html %}
        </div>
    </div>
    <div class='span7 offset1'>
        <h1>{{ page.title }}</h1>
        <div>
            {{ content }}
        </div>
    </div>
</div>

